@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Aller';
  src: url('../fonts/Aller_Rg.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aller Bd';
  src: url('../fonts/Aller_Bd.ttf');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: 'Aller', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Aller Bd', sans-serif;
}
